@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #050505;
  color: white;
  font-family: 'Inter', sans-serif;
}

body {
  overflow-x: hidden;
}

/* Patrón de Grilla */
.bg-grid-white {
  background-size: 50px 50px;
  background-image: 
    linear-gradient(to right, rgba(255, 255, 255, 0.03) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
}

/* Textura de Ruido */
.bg-noise {
  background-image: url("https://grainy-gradients.vercel.app/noise.svg");
  opacity: 0.03;
  mix-blend-mode: overlay;
  pointer-events: none;
}